@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.3rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }

  .website-title{
    font-family: elevon, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

/* website 1 start*/
  #backgroundimg1{
    background: url(img/munchdelicious.png) no-repeat center left fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  Height: 300px; 
  Width: 100%;
  }

  #description1{
    display: none;
  }

  #item1{
    text-align: center;
    color: #FFFFFF;
  text-decoration: none;
  }

  #item1:hover{
    cursor: pointer;
  }

  #item1:hover #description1{
    display: block;
  }

  #item1:hover #backgroundimg1{
    display: block;
    filter: blur(35px)
  }

  #item1:hover #descriptivetext1{
    transform: translateY(-200%);
    transition-duration: 0.5s;
  }
  
  /* website 1 end*/

  /* website 2 starts*/

    #backgroundimg2{
      background: url(img/musdeck.png) no-repeat center left fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    Height: 300px; 
    Width: 100%;
    }
  
    #description2{
      display: none;
    }
  
    #item2{
      text-align: center;
      color: #FFFFFF;
    text-decoration: none;
    }
  
    #item2:hover{
      cursor: pointer;
    }
  
    #item2:hover #description2{
      display: block;
    }
  
    #item2:hover #backgroundimg2{
      display: block;
      filter: blur(35px)
    }
  
    #item2:hover #descriptivetext2{
      transform: translateY(-200%);
      transition-duration: 0.5s;
    }

  /* website 3 ends*/


  #backgroundimg3{
    background: url(img/aestheticpassion.png) no-repeat center left fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  Height: 300px; 
  Width: 100%;
  }

  #description3{
    display: none;
  }

  #item3{
    text-align: center;
    color: #FFFFFF;
  text-decoration: none;
  }

  #item3:hover{
    cursor: pointer;
  }

  #item3:hover #description3{
    display: block;
  }

  #item3:hover #backgroundimg3{
    display: block;
    filter: blur(35px)
  }

  #item3:hover #descriptivetext3{
    transform: translateY(-200%);
    transition-duration: 0.5s;
  }